@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Каталог</title>
</head>
<body>
    <div class="container mt-2">
        <div class="row justify-content-center">
            <div class="col-md-2">
                @*Кнопка меню*@
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Меню
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/Storage/AddProduct">Добавить</a>
                        <a class="dropdown-item" href="/Storage/RemoveProduct">Удалить</a>
                    </div>
                </div>
            </div>

            @*Меню выбора валюты*@
            <div class="col-md-2">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownValuteButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Валюта
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownValuteButton">
                        @using (Html.BeginForm())
                        {
                            <button class="dropdown-item" type="submit" name="valueType" value="rubValue">Рубли</button>
                            <button class="dropdown-item" type="submit" name="valueType" value="eurValue">Евро</button>
                            <button class="dropdown-item" type="submit" name="valueType" value="usdValue">Доллары</button>
                        }
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                @*Строка поиска*@
                @using (Html.BeginForm("SearchProduct", "Storage"))
                {
                    <div class="form-group">
                        <input type="text" id="searchString" name="searchString" placeholder="Введите строку запроса" />
                        <button type="submit" name="action" value="byDescription" class="btn btn-primary">Искать по описанию</button>
                        <button type="submit" name="action" value="byName" class="btn btn-primary">Искать по названию</button>
                    </div>
                }
            </div>
        </div>

    </div>

    <div class="row ml-2 justify-content-center">
        @*Основной контент*@
        @foreach (Store.Models.Product product in Model)
        {
            <div class="col-md-3 border mt-1 ml-0 mr-1 rounded-lg">
                <h4>
                    <strong>@product.Name</strong>
                    @switch ((string)ViewBag.Valute)
                    {
                        case "rub":
                            <span class="float-right">@(product.Price + " РУБ")</span>
                            break;
                        default:
                            <span class="float-right">@(product.Price + " РУБ")</span>
                            break;
                        case "eur":
                            <span class="float-right">@(decimal.Round(product.Price / (decimal)ViewBag.Value, 2) + " EUR")</span>
                            break;
                        case "usd":
                            <span class="float-right">@(decimal.Round(product.Price / (decimal)ViewBag.Value, 2) + " USD")</span>
                            break;
                    }
                </h4>

                <hr class="my-1">

                <span class="">@product.Description</span> <br />

                @if (product.Status == true)
                {
                    <p class="text-success">В наличии</p> }
                else
                {
                    <p class="text-danger">Отсутствует</p>}
            </div>
        }
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
