@using Store.CORE.Models
@model List<Product>
@{
    var filter = new SearchModel();
    var rubValue = (int)RateEnums.rubValue;
    var eurValue = (int)RateEnums.eurValue;
    var usdValue = (int)RateEnums.usdValue;

    var byDescription = (int)SearchType.byDescription;
    var byName = (int)SearchType.byName;
}

<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-md-2">
            @*Кнопка меню*@
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Меню
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/Storage/AddProduct">Добавить</a>
                    <a class="dropdown-item" href="/Storage/RemoveProduct">Удалить</a>
                </div>
            </div>
        </div>

        @*Меню выбора валюты*@
        <div class="col-md-2">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownValuteButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Валюта
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownValuteButton">
                    @using (Html.BeginForm())
                    {
                        <button class="dropdown-item" type="submit" name="valueType" value="@rubValue">Рубли</button>
                        <button class="dropdown-item" type="submit" name="valueType" value="@eurValue">Евро</button>
                        <button class="dropdown-item" type="submit" name="valueType" value="@usdValue">Доллары</button>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-7">
            @*Строка поиска*@
            @using (Html.BeginForm("SearchProduct", "Storage"))
            {
                <div class="form-group">
                    <input type="text" id="searchString" name="searchString" placeholder="Введите строку запроса" />
                    <button type="submit" name="action" value="@byDescription" class="btn btn-primary">Искать по описанию</button>
                    <button type="submit" name="action" value="@byName" class="btn btn-primary">Искать по названию</button>
                </div>
            }
        </div>
    </div>

</div>

<div class="row ml-2 justify-content-center">
    @*Основной контент*@
    @foreach (var product in Model)
    {
        <div class="col-md-3 border mt-1 ml-0 mr-1 rounded-lg">
            <h4>
                <strong>@product.Name</strong>
                @switch ((string)ViewBag.Valute)
                {
                    case "rub":
                        <span class="float-right">@(product.Price + " РУБ")</span>
                        break;
                    default:
                        <span class="float-right">@(product.Price + " РУБ")</span>
                        break;
                    case "eur":
                        <span class="float-right">@(decimal.Round(product.Price / (decimal)ViewBag.Value, 2) + " EUR")</span>
                        break;
                    case "usd":
                        <span class="float-right">@(decimal.Round(product.Price / (decimal)ViewBag.Value, 2) + " USD")</span>
                        break;
                }
            </h4>

            <hr class="my-1">

            <span class="">@product.Description</span> <br />

            @if (product.Status == true)
            {
                <p class="text-success">В наличии</p> }
            else
            {
                <p class="text-danger">Отсутствует</p>}
        </div>
    }
</div>


@section scripts{
    <partial name="_ValidationScriptsPartial" />
}